body {
  background-color: #1a1a2e;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-top: 15px;
  position: relative;
  margin-bottom: 20px;
}

.headerName {
  font-size: 50px;
  font-weight: bold;
  color: #e94560;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.headerButton {
  margin-left: auto;
  background-color: #0f3460;
  margin-right: 20px;
  color: #e94560;
  border: 2px solid #0f3460;
  padding: 8px 16px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.headerButton:hover {
  background-color: #e94560;
  color: white;
}

.headerButtons {
  margin-left: auto;
}



.containerEvent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.event-card {
  background-color: #16213e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  width: 300px;
  margin: 16px;
  transition: transform 0.2s;
}

.event-card:hover {
  transform: translateY(-5px);
}

.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-card h2 {
  margin: 16px;
  font-size: 1.5em;
  color: #e94560;
}

.event-card p {
  margin: 0 16px 16px;
  color: #a6a6a6;
}

.event-tags {
  margin: 0 16px 16px;
  color: #999;
}

.event-actions {
  display: flex;
  justify-content: space-around;
  margin: 16px;
}

.event-actions button {
  background-color:#0f3460;

  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.event-actions button:hover {
  background-color: #e94560;
}



.hidden {
  display: none;
}

.backgroundTest {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: rgba(233, 69, 96, 0.1);
}

.emailIn {
  margin-left: 40px;
}


